.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  text-transform: uppercase;
  font-family: Comfortaa;
  letter-spacing: 0.2em;
  line-height: 27px;
  width: 100%;
  color: #00000066;
  text-align: center;
  position: relative;
}

.line::after {
  position: absolute;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.2);
  top: 10px;
  right: 1px;
  width: 40%;
}

.line::before {
  position: absolute;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.2);
  left: 1px;
  top: 10px;
  width: 40%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.message {
  text-align: center;
  font-family: Comfortaa;
  padding: 1rem;
}

.header {
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
