.flashcardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard {
  padding: 9.1rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  border-radius: 24px;
  margin: 3rem 4rem 2rem 4rem;
  min-width: 10rem;
  min-height: 10rem;
  position: relative;
  height: 100%;
  width: 70%;
}

.flashcardButton {
  background: none;
  border: none;
  margin: 1rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flashcardButton span {
  text-decoration-line: underline;
  color: gray;
  line-height: 22px;
  font-weight: 500;
  font-size: 1rem;
}

.term {
  position: absolute;
  font-family: "Comfortaa", cursive;
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
}
