.menu {
  position: absolute;
  top: 2rem;
  left: 2rem;
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: white;
  overflow-x: auto;
  word-wrap: break-word;

  @media screen and(min-width: 992px) {
    font-size: 3rem;
    top: 8rem;
  }
}
.easy {
  background: linear-gradient(101.14deg, #0f68a9 4.74%, #7ef29d 123.99%);
}

.normal {
  background: linear-gradient(135deg, #d68626 0%, #f8b96f 100%);
}

.hard {
  background: linear-gradient(101.14deg, #696eff 4.74%, #f8acff 123.99%);
}

.difficultyBox {
  height: 2rem;
  width: 2rem;
  margin: 0.4rem;
  border-radius: 8px;
  @media screen and(min-width: 992px) {
    height: 4rem;
    width: 4rem;
  }
}
.customFlashcards {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  @media screen and(min-width: 992px) {
    margin: 3rem;
  }
}

.menuText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title {
  color: #000000;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  line-height: 31px;
  text-decoration: none;
}

.description {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}
