.banner {
  background-color: #355070;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and(min-width: 992px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 1rem;
  line-height: 150%;
  color: white;

  @media screen and(min-width: 992px) {
    font-size: 1.5rem;
  }
}

.link {
  color: black;
  background-color: white;
  border-radius: 32px;
  padding: 11px;
  text-decoration: none;
  width: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-family: "Comfortaa";
  font-weight: bold;
  @media screen and(min-width: 992px) {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }
}

.link:visited {
  color: black;
}
