.header {
  background-color: #355070;
  font-family: "Comfortaa", cursive;
  color: #ffffff;
  line-height: 150%;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.header a {
  height: 20px;
}
