.flashcardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.definiton {
  visibility: hidden;
  margin: 1rem;
  font-family: "Comfortaa", cursive;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 2rem;
  }
}

.visible {
  visibility: initial;
}

.swiperSlide {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
