.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 40px;
  background-color: #355070;
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.5rem;
}
